<div class="filters">
  <p>Filters</p>
  <!-- Filter Sections -->
  <div class="filter-sections">

    <!-- Launch Year -->
    <!-- Filter Section -->
    <div class="filter-section">
      <!-- Heading -->
      <div class="filter-heading">
        <span>{{launchYearFilters?.name}}</span>
      </div>
      <!-- Filter Options -->
      <div class="filter-options">
        <button class="option"
          *ngFor="let launchYear of launchYearFilters?.options;"
          [ngClass]="{'active': filters?.launch_year === launchYear?.value}"
          (click)="filterSelected($event, 'launch_year', launchYear?.value)">
            {{launchYear?.name}}
        </button>
      </div>
    </div>

    <!-- Successful Launch -->
    <!-- Filter Section -->
    <div class="filter-section">
      <!-- Heading -->
      <div class="filter-heading">
        <span>{{successfulLaunchFilters?.name}}</span>
      </div>
      <!-- Filter Options -->
      <div class="filter-options">
        <button class="option"
          *ngFor="let successfulLaunch of successfulLaunchFilters?.options;"
          [ngClass]="{'active': filters?.launch_success === successfulLaunch?.value}"
          (click)="filterSelected($event, 'launch_success', successfulLaunch?.value)">
            {{successfulLaunch?.name}}
        </button>
      </div>
    </div>

    <!-- Successful Landing -->
    <!-- Filter Section -->
    <div class="filter-section">
      <!-- Heading -->
      <div class="filter-heading">
        <span>{{successfulLandingFilters?.name}}</span>
      </div>
      <!-- Filter Options -->
      <div class="filter-options">
        <button class="option"
          *ngFor="let successfulLanding of successfulLandingFilters?.options;"
          [ngClass]="{'active': filters?.land_sucess === successfulLanding?.value}"
          (click)="filterSelected($event, 'land_sucess', successfulLanding?.value)">
            {{successfulLanding?.name}}
        </button>
      </div>
    </div>

  </div>
  <!-- spacer -->
  <span class="spacer"></span>
</div>